<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.invaderx.railway">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".auth.ProfileActivity" />
        <activity
            android:name=".TrainResponseActivity"
            android:parentActivityName=".TrainSearchActivity"
            />
        <activity
            android:name=".TrainSearchActivity"
            android:label="Search Trains"></activity>
        <activity android:name=".BookingActivity"
            android:parentActivityName=".TrainResponseActivity"></activity>
    </application>

</manifest>